.search {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  transition: all .3s ease;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
  &:hover {
    .post-title {
      transform: scale3d(1.01, 1.01, 1.01);
    }
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
  }
  .search-form {
    padding: 1rem;
    label {
      width: 20px;
      margin-right:10px;
      vertical-align: middle;
    }
    input {
      font-family: 'PT Serif', serif;
      width: calc(100% - 45px);
      background: none;
      border: none;
      outline: none;
      font-size: 18px;
    }
  }
}

.search__results {
  font-family: 'PT Serif', serif;
  list-style: none;
  overflow-x: hidden;
  transition: 0.2s ease;
  li {
    border-top: 1px solid #f0f0f0;
    a {
      text-decoration: none;
      color: $dark-blue;
      display: block;
      padding: 5px;
      &:hover {
        color: $dark;
        transform: scale(1.01);
      }
      .search__result-title {
      }
      .search__result-date {
        color: #BBB;
        float: right;
        margin-right: 10px;
      }
    }
    .search__result-match {
      font-size: 12px;
      max-height: 100px;
      overflow: overlay;
      .search__result-match__key {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.search__results.is-hidden {
  opacity: 0;
  transform: translateY(-1vh);
  display: none;
}

.search.is-active {
  opacity: 1;
  visibility: visible;
}
