---
layout: main
---
<article class="article-page post-page" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-content">
    {% if page.img %}
      {% unless page.hide_img %}
      <div class="page-cover-image">
        <figure>
          <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
          {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption>
          {% endif %}
        </figure>
      </div> <!-- End Page Cover Image -->
      {% endunless %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <div class="page-date">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
          {% comment %}
          </br>
          <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
            modified at:  {{ page.last_modified_at | date: date_format }}
          </time>
          {% endcomment %}
        </div>
        {% comment %}
        <p class="post-meta">
          {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
          {% endif %}
        </p>
        {% endcomment %}
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</article> <!-- End Article Page -->
